:root {
  --carbon-black: #242E2F;
  --carbon-black-60: rgb(36, 46, 47, 0.6);
  --carbon-black-40: rgb(36, 46, 47, 0.4);
  --carbon-black-20: rgb(36, 46, 47, 0.2);
  --deep-red: #C01B1C;
  --deep-red-10: rgb(192, 27, 28, 0.1);
  --bright-red: #FF2523;
  --soft-linen: #F2EBDE;
  --poppy-yellow: #F6941D;
  --poppy-yellow-18: rgb(246, 148, 29, 0.18);
  --white: #FAFAFA;
  --background: var(--soft-linen);
  --foreground: var(--carbon-black);
  --body-text: var(--carbon-black);
  --heading-text: var(--deep-red);
  --font-body: var(--font-geist-mono);
  --font-subheading: var(--font-manic);
  --font-heading: var(--font-inter);
  --mobile: 414px;
  --tablet: 769px;
  --desktop: 1025px;
  --fullhd: 1345px;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--carbon-black);
    --foreground: var(--soft-linen);
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.85px;
  font-size: 0.9rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manic);
  text-transform: capitalize;
}

section {
  margin: 1.8rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.button-primary {
  display: block;
  padding: 0.4rem 1.65rem;
  border-radius: 1.25rem;
  background-color: var(--deep-red);
  color: var(--white);
  font-family: var(--font-geist-mono);
  letter-spacing: -0.75px;
  font-weight: 600;
  font-size: 0.9rem;
  max-width: fit-content;
  border: solid 1.5px var(--poppy-yellow);
  box-shadow: 0 1px 3px var(--poppy-yellow-18), 0 1px 2px var(--poppy-yellow);
}

.button-primary:hover {
  background-color: var(--bright-red);
  transition: all 0.2 ease;
  cursor: pointer;
  border: solid 1.5px var(--deep-red);
}

.button-secondary {
  display: block;
  padding: 0.4rem 1.65rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  color: var(--deep-red);
  font-family: var(--font-geist-mono);
  letter-spacing: -0.75px;
  font-weight: 600;
  font-size: 0.9rem;
  max-width: fit-content;
  border: solid 1.5px var(--deep-red);
  box-shadow: 0 1px 3px var(--carbon-black-20), 0 1px 2px var(--carbon-black-20);
}

.button-secondary:hover {
  transition: all 0.2 ease;
  cursor: pointer;
  border: solid 1.5px var(--bright-red);
  color: var(--bright-red);
  background-color: var(--white);
}

@media(max-width: 414px){
  .button-primary,
  .button-secondary {
    font-size: 0.8rem;
    padding: 0.3rem 1.5rem;
  }
}
