.footer {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 12px var(--poppy-yellow-18);
  font-size: 0.65rem;
}

.footer > div {
  max-width: var(--fullhd);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.35rem;
}

.footer > div > .topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  grid-column: 2/ span 2;
  grid-row: 1;
}

.footer > div > .linksContainer {
  display: flex;
  grid-column: 3 / span 2;
  justify-content: flex-end;
  grid-row: 2
}

.footer > div > .linksContainer > a {
  margin-right: 1.5rem;
  font-size: 0.55rem;
}

.footer > div > .linksContainer > a:last-of-type {
  margin-right: 0;
}

.copyright {
  font-size: 0.55rem;
  grid-column: 1/ span 2;
  grid-row: 2;
}

.footer a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.hasIcon > a {
  display: flex;
  align-items: center;
  transition: all 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.hasIcon > a > .icon {
  display: block;
  object-fit: cover;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  transition: all 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.hasIcon:first-of-type > a > .icon {
  margin-left: 4px;
}

.hasIcon > a:hover,
a:hover {
 color: var(--bright-red);
}

.hasIcon > a:hover > .icon {
  filter: invert(30%) sepia(70%) saturate(4038%) hue-rotate(344deg) brightness(100%) contrast(118%);
}

